@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Heavy";
    src: url("fonts/raleway-heavy-webfont.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Light";
    src: url("fonts/raleway-light-webfont.woff") format("woff");
    font-display: swap;
}
