@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.woff2") format("woff2"),
        url("fonts/Raleway-Bold.woff") format("woff"),
        url("fonts/Raleway-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Heavy";
    src: url("fonts/Raleway-Heavy.woff2") format("woff2"),
        url("fonts/Raleway-Heavy.woff") format("woff"),
        url("fonts/Raleway-Heavy.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Light";
    src: url("fonts/Raleway-Light.woff2") format("woff2"),
        url("fonts/Raleway-Light.woff") format("woff"),
        url("fonts/Raleway-Light.ttf") format("truetype");
    font-display: swap;
}
