.section-7 {
    padding-top: 90px;
    height: 865px;
    background: url(img/full-img-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-7--wrapper-title {
    position: relative;
    width: 370px;
    margin: 0 auto;
}
.section-7--title {
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 90px;
    color: #262626;
}
.section-7--text {
    margin: 20px 0 40px;
    text-align: center;
    font-family: "Raleway-Light", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    color: #262626;
}
.section-7--Form-Side {
    float: left;
    padding-left: 11%;
    width: 50%;
    height: 535px;
}
.section-7--form {
    position: relative;
    width: 100%;
    height: 100%;
}
.section-7--input-text {
    margin-bottom: 15px;
    padding-left: 20px;
    width: 84%;
    height: 50px;
    font-family: "Raleway-Light", sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #00c4c4;
    border: 0;
    transition: opacity 1s ease;
    opacity: 50%;
}
.section-7--input-text:focus,
.section-7--input-text:active {
    outline: 0;
    padding-left: 15px;
    border-left: 5px solid #355b82;
    font-weight: bolder;
    transition: opacity 0.7s ease;
    opacity: 100%;
}
.section-7--input-text.required:invalid {
    border: none;
    box-shadow: 0 0 5px 1px red;
}
.section-7--input-text::placeholder {
    color: #fff;
}
.text-area {
    padding-top: 20px;
    width: 84%;
    height: 250px;
    resize: none;
}
.text-area.required:invalid {
    border: none;
    box-shadow: 0 0 5px 1px red;
}
.section-7--submit {
    float: right;
    position: relative;
    right: 16%;
    width: 200px;
    height: 50px;
    font-family: "Raleway-Light", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #262626;
    border: solid 1px #262626;
    cursor: pointer;
    transition: 0.7s ease;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.section-7--submit:active,
.section-7--submit:focus {
    outline: none;
}
.section-7--submit:hover {
    // font-size: 21px;
    font-weight: 900;
    color: rgb(180, 180, 180);
    background-color: #505050;
    border: solid 1px #505050;
    transition: all 0.7s;
}
.section-7--Contact-Side {
    float: right;
    padding-left: 5.5%;
    width: 50%;
    height: 535px;
}
.section-7--Header-for-contacts {
    margin: 0 0 4px;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 17px;
    color: #262626;
}
.section-7--contacts {
    display: block;
    margin: 0 0 20px;
    width: fit-content;
    font-family: "Raleway-Light", sans-serif;
    font-size: 20px;
    color: #262626;
    text-decoration: none;
    font-style: normal;
}
a.section-7--contacts:hover {
    text-decoration: underline;
}
@media screen and (max-width: 800px) {
    .section-7--Contact-Side {
        padding-left: 0;
    }
}
@media screen and (max-width: 750px) {
    .section-7 {
        height: 1135px;
    }
    .section-7--Form-Side {
        float: none;
        width: 100%;
        position: relative;
        top: 250px;
    }
    .section-7--form {
        width: 60%;
    }
    .section-7--input-text {
        width: 100%;
    }
    .section-7--submit {
        right: 0;
    }
    .section-7--Contact-Side {
        float: none;
        width: 100%;
        position: relative;
        bottom: 530px;
        padding-left: 11%;
        height: 200px;
    }
}
@media screen and (max-width: 650px) {
    .section-7--form {
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .section-7--wrapper-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-7--title {
        font-size: 80px;
        text-align: center;
    }
    .section-7--text {
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .section-7--title {
        font-size: 60px;
    }
    .section-7--text {
        width: 220px;
    }
}
footer {
    flex-shrink: 0;
    padding: 35px 11% 0;
    height: 90px;
    background-color: #262626;
}
.company {
    position: absolute;
    margin: 0;
    font-family: "Raleway-Light", sans-serif;
    font-size: 16px;
    color: #b9b9b9;
}
.logo-cahee {
    margin: 0 auto;
    width: 75px;
    height: 35px;
    background: url(img/logo-cahee-small.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.made-with-love {
    float: right;
    position: relative;
    margin: 0;
    bottom: 35px;
    font-family: "Raleway-Light", sans-serif;
    font-size: 15px;
    color: #b9b9b9;
}
// a.made-with-love {
//     bottom: 20px;
// }
.love {
    font-family: "Raleway-Bold", sans-serif;
    color: #ff2b58;
}
@media screen and (max-width: 1000px) {
    footer {
        height: 120px;
    }
    .company {
        width: 150px;
        line-height: 23px;
    }
    .logo-cahee {
        position: relative;
        top: 10px;
    }
    .made-with-love {
        width: 130px;
        line-height: 23px;
        text-align: right;
    }
}
@media screen and (max-width: 650px) {
    footer {
        height: 180px;
    }
    .company {
        position: relative;
        top: 50px;
        width: auto;
    }
    .logo-cahee {
        margin: 0;
        top: -25px;
    }
    .made-with-love {
        float: none;
        top: 20px;
        width: auto;
        text-align: left;
    }
}
@media screen and (max-width: 350px) {
    footer {
        height: 260px;
    }
    .company {
        top: 85px;
        line-height: 21px;
    }
    .made-with-love {
        top: 55px;
        line-height: 21px;
    }
}
