.section-5 {
    height: px-rem(500px);
    padding-left: 11%;
    background: url(img/full-img-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: px-rem(800px)) {
        height: px-rem(770px);
        background-position: right;
        background-position-y: px-rem(250px);
        background-size: auto;
    }
    @media screen and (max-width: px-rem(600px)) {
        height: px-rem(900px);
        background-position-y: px-rem(350px);
    }
}
.section-5--content {
    position: relative;
    top: px-rem(140px);
    width: 68%;
    height: px-rem(210px);

    @media screen and (max-width: px-rem(1000px)) {
        width: 90%;
    }
    @media screen and (max-width: px-rem(800px)) {
        top: px-rem(100px);
        width: 95%;
    }
}
.section-5--title {
    margin: 0;
    position: relative;
    text-align: left;
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(40px);
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(600px)) {
        font-size: px-rem(35px);
    }
}
.section-5--text {
    margin: px-rem(30px) 0;
    width: px-rem(590px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882;
    font-weight: 600;
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(950px)) {
        margin: px-rem(30px) 0;
        width: px-rem(500px);
    }
    @media screen and (max-width: px-rem(800px)) {
        width: 80%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: 100%;
    }
}
.section-5--form {
    @media screen and (max-width: px-rem(700px)) {
        position: relative;
        top: px-rem(10px);
    }
    @media screen and (max-width: px-rem(600px)) {
        height: px-rem(130px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
}
.section-5--input {
    width: 63%;
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(15px);
    line-height: 1.8;
    color: #262626;
    border: 1px solid #262626;

    @media screen and (max-width: px-rem(800px)) {
        width: 60%;
    }
    @media screen and (max-width: px-rem(700px)) {
        width: 60%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: px-rem(170px);
    }
}
.section-5--input:focus,
.section-5--input:active {
    outline: 0;
}
.section-5--input:valid {
    box-shadow: none;
}
.section-5--input.required:invalid {
    border: none;
    box-shadow: 0 0 5px 1px red;
}
.section-5--submit {
    position: relative;
    margin-left: 3.3%;
    width: px-rem(170px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background: #96b92c;
    border: solid 1px #96b92c;
    cursor: pointer;
    transition: 0.7s ease;
    -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: px-rem(700px)) {
        margin-left: 3.3%;
    }
    @media screen and (max-width: px-rem(600px)) {
        margin-left: 0;
    }
}
.section-5--submit:active,
.section-5--submit:focus {
    outline: none;
}
.section-5--submit:hover {
    // font-size: 21px;
    font-weight: 900;
    color: #000;
    background-color: #c3e267;
    border: solid 1px #c3e267;
    transition: all 0.7s;
}
