.section-1 {
    position: relative;
    height: px-rem(1000px);
    background: url(img/full-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: px-rem(1000px)) {
        height: px-rem(800px);
    }
    @media screen and (max-width: px-rem(700px)) {
        height: px-rem(672px);
    }
    @media screen and (max-width: px-rem(500px)) {
        padding: 0 3%;
    }
    @media screen and (max-width: px-rem(400px)) {
        background-position-x: px-rem(-368px);
        background-position-y: px-rem(190px);
        background-color: #f9f8fb;
    }
    @media screen and (max-width: px-rem(350px)) {
        background-position-x: px-rem(-438px);
    }
    @media screen and (max-width: px-rem(250px)) {
        background-position-x: px-rem(-478px);
    }
}
.header {
    width: auto;
    height: px-rem(145px);
    padding: 3.125rem 11%;

    @media screen and (max-width: px-rem(500px)) {
        padding: 3.125rem 8%;
    }
}
.header-logo {
    float: left;
    user-select: none;
}
.logo {
    width: px-rem(127px);
    height: px-rem(52px);

    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(95px);
        height: auto;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(83px);
    }
}
.menu {
    float: right;
    padding: 0;
    width: 50%;
    height: px-rem(30px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    user-select: none;

    @media screen and (max-width: px-rem(1000px)) {
        display: none;
    }
}
.menu li {
    margin-left: px-rem(35px);
    height: px-rem(20px);
}
.menu li:hover {
    border-top: #ff6033 solid px-rem(3px);
    position: relative;
    bottom: px-rem(12px);
    padding-top: px-rem(9px);
}
.adaptive-menu {
    visibility: hidden;
    z-index: 100;
    position: fixed;
    top: px-rem(-24px);
    left: 0;
    right: 0;
    height: 105vh;
    width: 40%;
    padding: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    background-color: #ff6033;
    box-shadow: -6px -1px 10px 0px rgb(0 0 0 / 40%);
    transform: translateX(360%);
    opacity: 20%;
    transition: all 0.65s linear;

    @media screen and (max-width: px-rem(1000px)) {
        visibility: visible;
    }
    @media screen and (max-height: px-rem(550px)) {
        padding: 20% 5.5%;
        justify-content: space-evenly;
    }
    @media screen and (max-height: px-rem(450px)) {
        padding: 15% 5.5%;
    }
    @media screen and (max-height: px-rem(400px)) {
        padding: 15% 5.5% 5%;
    }
    @media screen and (max-height: px-rem(250px)) {
        padding: 10% 5.5% 2%;
    }
}
.adaptive-menu.active {
    opacity: 96%;
    transform: translateX(150%);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);

    @media screen and (max-width: px-rem(700px)) {
        width: 35%;
        transform: translateX(190%);
    }
    @media screen and (max-width: px-rem(550px)) {
        width: 48%;
        transform: translateX(110%);
    }
    @media screen and (max-width: px-rem(450px)) {
        width: 54%;
        transform: translateX(86%);
    }
    @media screen and (max-width: px-rem(350px)) {
        width: 50%;
        transform: translateX(100%);
    }
    @media screen and (max-width: px-rem(300px)) {
        width: 65%;
        transform: translateX(55%);
    }
}
.menu a,
.adaptive-menu a {
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(16px);
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    -webkit-tap-highlight-color: transparent;
}
.adaptive-menu a {
    color: #fff;
    font-size: px-rem(26px);
    // line-height: 2.3077; // 60px
    line-height: 1.9077;
    text-transform: capitalize;

    @media screen and (max-height: px-rem(550px)) {
        line-height: 0.0077; // 0.2px
    }
    @media screen and (max-height: px-rem(400px)) {
        line-height: 1.3077; //34px
    }
    @media screen and (max-height: px-rem(400px)) {
        font-size: px-rem(23.5px);
    }
    @media screen and (max-width: px-rem(330px)) and (max-height: px-rem(550px)) {
        line-height: 1.1538; //30px
    }
    @media screen and (max-height: px-rem(300px)) {
        font-size: px-rem(20.5px);
    }
    @media screen and (max-height: px-rem(250px)) {
        font-size: px-rem(17.5px);
        line-height: 1.2077;
    }
}
.adaptive-menu a:active {
    background-color: cornsilk;
    color: #000;
}
.button-burger-menu {
    z-index: 100;
    display: none;
    position: fixed;
    width: px-rem(42px);
    height: px-rem(42px);
    // width: 42px;
    // height: 42px;
    right: 11%;
    top: px-rem(50px);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
    overflow: hidden;
    background: rgb(255, 96, 51, 0.7);
    transition: all 0.5s;

    @media screen and (max-width: px-rem(1000px)) {
        display: block;
    }
}
.button-burger-menu.active {
    // opacity: 100%;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);

    @media screen and (max-width: px-rem(1000px)) {
        right: 5.5%;
    }
    @media screen and (orientation: landscape) and (max-height: px-rem(250px)) and (max-width: px-rem(600px)) {
        right: 20%;
    }
    @media screen and (orientation: landscape) and (max-height: px-rem(250px)) and (max-width: px-rem(350px)) {
        right: 25%;
    }
    // @media (max-width: 700px) and (orientation: landscape) { ... }
    @media screen and (max-height: px-rem(500px)) {
        top: 6%;
    }
    // @media screen and (max-width: px-rem(330px)) and (max-height: px-rem(550px)) {
    //     right: 38%;
    // }
}
.button-burger-menu span {
    position: absolute;
    width: px-rem(30px);
    height: px-rem(2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.5s;
}
.button-burger-menu span:nth-of-type(2) {
    top: calc(50% - 5px);

    @media screen and (max-width: px-rem(250px)) {
        top: calc(50% - 8px);
    }
}
.button-burger-menu span:nth-of-type(3) {
    top: calc(50% + 5px);

    @media screen and (max-width: px-rem(250px)) {
        top: calc(50% + 8px);
    }
}
//  menu open
.button-burger-menu.active span:nth-of-type(1) {
    opacity: 10%;
    transform: translate(-200%);
}
.button-burger-menu.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.button-burger-menu.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}
//
//  section-1
//
.section-1--content {
    position: relative;
    left: 11%;
    top: px-rem(200px);
    width: px-rem(370px);
    height: px-rem(257px);
    // background-color: darkgray;

    @media screen and (max-width: px-rem(700px)) {
        top: px-rem(120px);
    }
    @media screen and (max-width: px-rem(500px)) {
        left: 8%;
        width: 90%;
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(72px);
    }
    @media screen and (max-width: px-rem(350px)) {
        top: px-rem(56px);
    }
    // @media screen and (max-width: px-rem(450px)) {
    //     width: px-rem(270px);
    // }
}
.section-1--title {
    margin: 0 0 px-rem(20px);
    font-family: "Raleway-Heavy", sans-serif;
    font-size: px-rem(60px);
    font-weight: 900;
    color: #262626;
    cursor: default;
    user-select: none;
    // background-color: darkcyan;

    @media screen and (max-width: px-rem(600px)) {
        font-size: px-rem(50px);
    }
    @media screen and (max-width: px-rem(350px)) {
        font-size: px-rem(40px);
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(35px);
    }
    @media screen and (max-width: px-rem(250px)) {
        font-size: px-rem(30px);
    }
    // @media screen and (max-width: px-rem(450px)) {
    //     width: px-rem(270px);
    //     margin-right: 0;
    //     font-size: px-rem(50px);
    // }
}
.section-1--text {
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882; //27px
    color: #262626;
    cursor: default;
    user-select: none;
    // background-color: darkgoldenrod;

    @media screen and (max-width: px-rem(700px)) {
        width: 80%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: 65%;
    }
    @media screen and (max-width: px-rem(400px)) {
        width: 80%;
    }
    @media screen and (max-width: px-rem(350px)) {
        width: 90%;
        font-size: px-rem(16px);
    }
    @media screen and (max-width: px-rem(300px)) {
        // width: 75%;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: 100%;
    }
    // @media screen and (max-width: px-rem(450px)) {
    //     width: px-rem(270px);
    // }
}
.section-1--button {
    margin-top: px-rem(20px);
    width: px-rem(200px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background-color: #ff6033;
    border: solid 1px #ff6033;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: 0.7s ease;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(168px);
        height: px-rem(47px);
        font-size: px-rem(17px);
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(152px);
        height: px-rem(39px);
        font-size: px-rem(15px);
    }
}
.section-1--button:active,
.section-1--button:focus {
    outline: none;
}
.section-1--button:hover {
    // font-size: px-rem(21px);
    font-weight: 900;
    color: #000;
    background-color: #fd8766;
    border: solid 1px #fd8766;
    transition: all 0.7s;
}
.button-UP {
    z-index: 50;
    position: fixed;
    right: px-rem(30px);
    bottom: px-rem(40px);
    width: px-rem(45px);
    height: px-rem(45px);
    background-color: cornflowerblue;
    // box-shadow: 4px 4px 0px 0px rgb(0 0 0 / 44%);
    cursor: pointer;
}
.button-UP.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}
.button-UP.off,
.button-UP.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.button-UP a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: px-rem(40px);
}
.icon-up {
    border-radius: 40px 50%;
    color: #fff;
    background-color: #000;
}
.icon-mouse {
    position: absolute;
    left: 49%;
    top: px-rem(890px);
    user-select: none;
    cursor: pointer;

    @media screen and (max-width: px-rem(1000px)) {
        visibility: hidden;
    }
}
