//  GALLERY
//
.section-4 {
    height: px-rem(1156px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe92f;

    @media screen and (max-width: px-rem(850px)) {
        height: px-rem(1076px);
    }
    @media screen and (max-width: px-rem(750px)) {
        height: px-rem(1028px);
    }
    @media screen and (max-width: px-rem(500px)) {
        height: px-rem(1444px);
    }
    @media screen and (max-width: px-rem(450px)) {
        height: px-rem(1492px);
    }
    @media screen and (max-width: px-rem(350px)) {
        height: px-rem(1540px);
    }
    @media screen and (max-width: px-rem(300px)) {
        height: px-rem(1524px);
    }
    @media screen and (max-width: px-rem(250px)) {
        height: px-rem(1604px);
    }
}
.section-4--content {
    position: relative;
    top: px-rem(100px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: px-rem(700px)) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: px-rem(500px)) {
        top: px-rem(52px);
    }
}
.section-4--title {
    margin: 0;
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(90px);
    color: #262626;
    text-align: center;
    word-break: break-word;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(500px)) {
        font-size: px-rem(70px);
    }
    @media screen and (max-width: px-rem(400px)) {
        font-size: px-rem(60px);
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(50px);
    }
}
.section-4--text {
    width: px-rem(590px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882;
    text-align: center;
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(700px)) {
        max-height: px-rem(81px);
        width: 85%;
    }
    @media screen and (max-width: px-rem(500px)) {
        max-height: px-rem(108px);
    }
    @media screen and (max-width: px-rem(350px)) {
        max-height: px-rem(172px);
    }
    @media screen and (max-width: px-rem(250px)) {
        max-height: px-rem(252px);
    }
}
.gallery {
    position: relative;
    padding: 1.65% 1.65% 0 0;
    top: px-rem(145px);
    width: 78%;
    // height: px-rem(580px);
    // background-color: rgb(235, 168, 235);
    max-width: px-rem(720px);
    min-width: px-rem(550px);

    @media screen and (max-width: px-rem(500px)) {
        top: px-rem(65px);
        width: 89%;
    }
    @media screen and (max-width: px-rem(450px)) {
        top: px-rem(113px);
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(129px);
    }
    @media screen and (max-width: px-rem(350px)) {
        width: 95%;
    }
}
.row1 {
    background-color: steelblue;
    width: 100%;
    height: 57.43%;
    display: flex;
    justify-content: flex-end;
}
.row1-a {
    background-color: rgb(250, 138, 33);
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.row2 {
    background-color: springgreen;
    width: 100%;
    height: 42.57%;
    display: flex;
}
.gallery img {
    margin: 0 0 2.106% 2.106%; /* 1.25% */
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.row1 img {
    width: 67.54%;
}
.row1-a img {
    margin: 0 0 6.535% 6.535%; /* 4.05% */
    width: 93.465%;
    height: 50%;
}
.row2 img {
    /* display: none; */
    width: 48.78%;
}
.section-4--button {
    position: relative;
    top: px-rem(196px);
    width: px-rem(200px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background-color: #5585a2;
    border: solid 1px #5585a2;
    cursor: pointer;
    user-select: none;
    transition: 0.7s ease;
    -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: px-rem(500px)) {
        top: px-rem(112px);
    }
    @media screen and (max-width: px-rem(450px)) {
        top: px-rem(160px);
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(173px);
    }
    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(168px);
        height: px-rem(47px);
        font-size: px-rem(17px);
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(152px);
        height: px-rem(39px);
        font-size: px-rem(15px);
    }
}
.section-4--button:active,
.section-4--button:focus {
    outline: none;
}
.section-4--button:hover {
    font-weight: 900;
    color: #000;
    background-color: #7abde7;
    border: solid 1px #7abde7;
    transition: all 0.7s;
}
