.section-2 {
    height: px-rem(700px); // 700px / 6346px
    background-color: #00bdbd;
    display: flex;
    justify-content: center;

    @media screen and (max-width: px-rem(1150px)) {
        height: px-rem(1020px);
    }
    @media screen and (max-width: px-rem(600px)) {
        height: px-rem(970px);
    }
    @media screen and (max-width: px-rem(500px)) {
        height: px-rem(890px);
    }
    @media screen and (max-width: px-rem(350px)) {
        height: px-rem(920px);
    }
    @media screen and (max-width: px-rem(250px)) {
        height: px-rem(952px);
    }
    @media screen and (max-width: px-rem(225px)) {
        height: px-rem(1000px);
    }
}
.translated-ltr .section-2 {
    @media screen and (max-width: px-rem(900px)) {
        height: px-rem(1100px);
    }
}
.section-2-WRAP {
    width: 100%;
    max-width: px-rem(1500px);
}
.section-2-Left-Side {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: px-rem(1150px)) {
        float: none;
        position: relative;
        top: px-rem(450px);
        width: 100%;
        height: px-rem(400px);
        justify-content: flex-end;
    }
    @media screen and (max-width: px-rem(500px)) {
        top: px-rem(395px);
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(385px);
    }
    @media screen and (max-width: px-rem(350px)) {
        top: px-rem(433px);
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(481px);
    }
    @media screen and (max-width: px-rem(225px)) {
        top: px-rem(530px);
    }
}
.translated-ltr .section-2-Left-Side {
    @media screen and (max-width: px-rem(900px)) {
        top: px-rem(550px);
    }
}
.section-2--image {
    width: px-rem(600px);
    height: px-rem(600px);
    user-select: none;

    @media screen and (max-width: px-rem(1150px)) {
        z-index: 5;
        position: relative;
        right: px-rem(50px);
        top: px-rem(50px);
    }
    @media screen and (max-width: px-rem(750px)) {
        width: px-rem(500px);
        height: px-rem(500px);
    }
    @media screen and (max-width: px-rem(600px)) {
        width: px-rem(400px);
        height: px-rem(400px);
    }
    @media screen and (max-width: px-rem(300px)) {
        right: px-rem(11.5px);
    }
}
.section-2-Right-Side {
    float: right;
    padding: 0 px-rem(165px) 0 px-rem(85px);
    width: 50%;
    height: 100%;

    @media screen and (max-width: px-rem(1150px)) {
        float: none;
        padding-left: 11%;
        width: 100%;
        height: px-rem(310px);
        position: relative;
        bottom: px-rem(400px);
    }
    @media screen and (max-width: px-rem(400px)) {
        padding: 0 1% 0 11%;
    }
}
.section-2--WRAP-title {
    width: 130%;

    @media screen and (max-width: px-rem(1150px)) {
        width: 119%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: 140%;
    }
    @media screen and (max-width: px-rem(550px)) {
        width: 150%;
    }
    @media screen and (max-width: px-rem(450px)) {
        width: 100%;
    }
}
.translated-ltr .section-2--WRAP-title {
    max-height: px-rem(215px);

    @media screen and (max-width: px-rem(400px)) {
        width: 100%;
    }
}
.section-2--title {
    min-width: px-rem(395px);
    margin: px-rem(180px) 0 px-rem(20px);
    font-family: "Raleway-Bold", sans-serif;
    font-size: px-rem(90px);
    font-weight: 900;
    line-height: 0.7778;
    word-break: break-word;
    color: #fff;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(1150px)) {
        margin: px-rem(100px) 0 px-rem(20px);
    }
    @media screen and (max-width: px-rem(500px)) {
        margin: px-rem(60px) 0 px-rem(20px);
        min-width: px-rem(310px);
        font-size: px-rem(70px);
    }
    @media screen and (max-width: px-rem(450px)) {
        font-size: px-rem(60px);
    }
    @media screen and (max-width: px-rem(400px)) {
        min-width: px-rem(265px); 
        max-height: px-rem(40px);
        font-size: px-rem(50px);
    }
    @media screen and (max-width: px-rem(350px)) {
        min-width: 0;
        font-size: px-rem(40px);
    }
    @media screen and (max-width: px-rem(225px)) {
        font-size: px-rem(35px);
    }
}
.translated-ltr .section-2--title {
    margin-top: px-rem(120px);
    line-height: 1.177;

    @media screen and (max-width: px-rem(950px)) {
        margin-top: px-rem(50px);
    }
    @media screen and (max-width: px-rem(400px)) {
        max-height: none;
    }
}
.section-2--text {
    min-width: px-rem(395px);
    max-width: px-rem(500px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882;
    color: #fff;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(500px)) {
        min-width: px-rem(360px);
    }
    @media screen and (max-width: px-rem(450px)) {
        min-width: px-rem(300px);
    }
    @media screen and (max-width: px-rem(400px)) {
        min-width: 0;
        width: 100%;
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(16px);
    }
    @media screen and (max-width: px-rem(250px)) {
        line-height: 1.3882;
    }
}
