.section-3 {
    height: px-rem(790px);
    background-color: #70bfff;

    @media screen and (max-width: px-rem(1300px)) {
        height: px-rem(690px);
    }
    @media screen and (max-width: px-rem(1130px)) {
        height: px-rem(973px);
    }
    @media screen and (max-width: px-rem(950px)) {
        height: px-rem(1131px);
    }
    @media screen and (max-width: px-rem(450px)) {
        height: px-rem(971px);
    }
    @media screen and (max-width: px-rem(400px)) {
        height: px-rem(891px);
    }
    @media screen and (max-width: px-rem(350px)) {
        height: px-rem(850px);
    }
    @media screen and (max-width: px-rem(300px)) {
        height: px-rem(690px);
    }
    @media screen and (max-width: px-rem(250px)) {
        height: px-rem(658px);
    }
}
.section-3-Left-Side {
    float: left;
    width: 50%;
    height: 100%;

    @media screen and (max-width: px-rem(1130px)) {
        float: none;
        width: 100%;
        height: px-rem(460px);
        position: relative;
        top: px-rem(513px);
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width: px-rem(950px)) {
        height: px-rem(671px);
        top: px-rem(460px);
    }
    @media screen and (max-width: px-rem(450px)) {
        height: px-rem(479px);
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(396px);
    }
    @media screen and (max-width: px-rem(350px)) {
        top: px-rem(370px);
        height: px-rem(431px);
    }
    @media screen and (max-width: px-rem(300px)) {
        top: px-rem(290px);
        height: px-rem(367px);
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(258px);
    }
}
.list-of-cards {
    float: right;
    position: relative;
    right: px-rem(85px);
    top: px-rem(180px);
    width: px-rem(400px);
    height: px-rem(460px);

    @media screen and (max-width: px-rem(1300px)) {
        top: px-rem(110px);
        right: 15%;
    }
    @media screen and (max-width: px-rem(1130px)) {
        float: none;
        position: relative;
        right: 0;
        top: 0;
        width: px-rem(920px);
        height: px-rem(460px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    @media screen and (max-width: px-rem(950px)) {
        width: px-rem(420px);
        height: px-rem(670px);
    }
    @media screen and (max-width: px-rem(500px)) {
        top: px-rem(20px);
        // width: px-rem(350px);
        width: 98%;
        height: px-rem(620px);
    }
    @media screen and (max-width: px-rem(450px)) {
        height: px-rem(460px);
    }
    @media screen and (max-width: px-rem(400px)) {
        height: px-rem(412px);
    }
    @media screen and (max-width: px-rem(300px)) {
        height: px-rem(348px);
    }
}
.item-card {
    margin-bottom: px-rem(20px);
    width: px-rem(400px);
    height: px-rem(100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: px-rem(1130px)) {
        margin: 0 0 px-rem(30px);
    }
    @media screen and (max-width: px-rem(500px)) {
        // width: px-rem(350px);
        // width: 100%;
    }
    @media screen and (max-width: px-rem(450px)) {
        height: px-rem(70px);
        width: 85%;
    }
    @media screen and (max-width: px-rem(300px)) {
        margin: 0 0 px-rem(24px);
        height: px-rem(65px);
        width: 89%;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: 97%;
    }
}
.card-text {
    width: px-rem(300px);
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(20px);
    text-align: center;
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(450px)) {
        font-size: px-rem(18px);
    }
    @media screen and (max-width: px-rem(350px)) {
        font-size: px-rem(16px);
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(14px);
    }
}
.card-icon {
    padding: px-rem(20px) px-rem(15px);
    width: px-rem(100px);
    height: px-rem(100px);
    border-left: 1px solid #9d9d9d;
    user-select: none;

    @media screen and (max-width: px-rem(450px)) {
        padding: px-rem(14px) px-rem(12px);
        width: px-rem(70px);
        height: px-rem(70px);
    }
    @media screen and (max-width: px-rem(300px)) {
        padding: px-rem(14px) px-rem(9px);
        width: px-rem(65px);
        height: px-rem(65px);
    }
}
.icon {
    width: px-rem(64px);

    @media screen and (max-width: px-rem(450px)) {
        width: px-rem(45px);
    }
    @media screen and (max-width: px-rem(300px)) {
        width: px-rem(37px);
    }
}
.section-3-Right-Side {
    float: right;
    width: 50%;
    height: 100%;

    @media screen and (max-width: px-rem(1130px)) {
        width: 100%;
        height: px-rem(460px);
        position: relative;
        bottom: px-rem(460px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: px-rem(950px)) {
        height: px-rem(460px);
        bottom: px-rem(671px);
    }
    @media screen and (max-width: px-rem(450px)) {
        bottom: px-rem(479px);
    }
    @media screen and (max-width: px-rem(400px)) {
        height: px-rem(410px);
        bottom: px-rem(468px);
    }
    @media screen and (max-width: px-rem(350px)) {
        bottom: px-rem(450px);
    }
    @media screen and (max-width: px-rem(300px)) {
        bottom: px-rem(338px);
        height: px-rem(250px);
    }
}
.section-3--image {
    z-index: 1;
    position: relative;
    top: px-rem(100px);
    left: px-rem(115px);
    width: px-rem(462px);
    user-select: none;

    @media screen and (max-width: px-rem(1300px)) {
        // top: 0px;
        left: px-rem(80px);
        width: px-rem(385px);
    }
    @media screen and (max-width: px-rem(1130px)) {
        z-index: 1;
        position: relative;
        left: 0;
        top: px-rem(75px);
        width: px-rem(380px);
    }
    @media screen and (max-width: px-rem(950px)) {
        left: 0;
        top: px-rem(39px);
        // width: px-rem(380px);
    }
    @media screen and (max-width: px-rem(600px)) {
        top: px-rem(50px);
        width: px-rem(350px);
    }
    @media screen and (max-width: px-rem(400px)) {
        width: px-rem(290px);
    }
    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(270px);
    }
    @media screen and (max-width: px-rem(300px)) {
        top: 0;
        width: px-rem(206px);
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(171px);
    }
}
.section-3--wrapper-title {
    z-index: 5;
    position: relative;
    margin: 0;
    top: px-rem(-300px);
    left: px-rem(41px);
    width: px-rem(550px);
    user-select: none;

    @media screen and (max-width: px-rem(1300px)) {
        top: px-rem(-260px);
        left: px-rem(-10px);
    }
    @media screen and (max-width: px-rem(1130px)) {
        z-index: 5;
        position: relative;
        margin: 0;
        top: px-rem(-273px);
        left: px-rem(-15px);
        width: px-rem(550px);
        text-align: left;
    }
    @media screen and (max-width: px-rem(950px)) {
        z-index: 5;
        position: relative;
        margin: 0;
        top: px-rem(-317px);
        left: 0;
        width: px-rem(550px);
        text-align: left;
    }
    @media screen and (max-width: px-rem(600px)) {
        top: px-rem(-245px);
        left: px-rem(5px);
        width: px-rem(427px);
    }
    @media screen and (max-width: px-rem(500px)) {
        left: 0;
        width: 100%;
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(-173px);
    }
    @media screen and (max-width: px-rem(350px)) {
        top: px-rem(-158px);
    }
    @media screen and (max-width: px-rem(300px)) {
        top: px-rem(-169px);
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(-138px);
    }
}
.section-3--title {
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(90px);
    color: #fff;
    cursor: default;

    @media screen and (max-width: px-rem(600px)) {
        font-size: px-rem(70px);
    }
    @media screen and (max-width: px-rem(500px)) {
        font-size: px-rem(55px);
        text-align: center;
    }
    @media screen and (max-width: px-rem(400px)) {
        font-size: px-rem(48px);
    }
    @media screen and (max-width: px-rem(350px)) {
        font-size: px-rem(43px);
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(38px);
    }
    @media screen and (max-width: px-rem(250px)) {
        font-size: px-rem(30px);
    }
}
