.section-2 {
    height: px-rem(700px); // 700px / 6346px
    background-color: #00bdbd;

    @media screen and (max-width: 1150px) {
        height: 1020px;
    }
    @media screen and (max-width: 600px) {
        height: 970px;
    }
    @media screen and (max-width: 500px) {
        height: 890px;
    }
    @media screen and (max-width: 400px) {
        height: 950px;
    }
    @media screen and (max-width: 350px) {
        height: 1000px;
    }
}
.section-2-Left-Side {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1150px) {
        float: none;
        position: relative;
        top: 450px;
        width: 100%;
        height: 400px;
        justify-content: flex-end;
    }
    @media screen and (max-width: 500px) {
        top: 395px;
    }
    @media screen and (max-width: 400px) {
        top: 465px;
    }
    @media screen and (max-width: 350px) {
        top: 545px;
    }
}
.section-2--image {
    width: 600px;
    height: 600px;

    @media screen and (max-width: 1150px) {
        width: 600px;
        height: 600px;
        z-index: 5;
        position: relative;
        // left: 112px;
        right: 50px;
        top: 50px;
    }
    @media screen and (max-width: 750px) {
        width: 500px;
        height: 500px;
    }
    @media screen and (max-width: 600px) {
        width: 400px;
        height: 400px;
    }
}
.section-2-Right-Side {
    float: right;
    padding: 0 px-rem(165px) 0 px-rem(85px);
    width: 50%;
    height: 100%;

    @media screen and (max-width: 1150px) {
        float: none;
        padding-left: 11%;
        width: 100%;
        height: 310px;
        position: relative;
        bottom: 400px;
    }
}
.section-2--title {
    margin: px-rem(180px) 0 px-rem(20px);
    min-width: px-rem(395px);
    // max-width: 20.7rem;
    font-family: "Raleway-Bold", sans-serif;
    font-size: px-rem(90px);
    font-weight: 900;
    line-height: 0.7778;
    color: #fff;

    @media screen and (max-width: 1150px) {
        margin: 100px 0 20px;
    }
    @media screen and (max-width: 500px) {
        margin: 60px 0 20px;
        min-width: 310px;
        font-size: 70px;
    }
    @media screen and (max-width: 450px) {
        font-size: 60px;
    }
    @media screen and (max-width: 400px) {
        min-width: 265px;
    }
    @media screen and (max-width: 350px) {
        min-width: 230px;
        font-size: 40px;
    }
}
.section-2--text {
    min-width: px-rem(395px);
    max-width: px-rem(500px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882;
    color: #fff;

    @media screen and (max-width: 500px) {
        min-width: 360px;
    }
    @media screen and (max-width: 450px) {
        min-width: 300px;
    }
    @media screen and (max-width: 400px) {
        width: 270px;
        min-width: min-content;
    }
    @media screen and (max-width: 350px) {
        width: 230px;
    }
}
