.no-webp .section-1 {
    background-image: url(../img/full-img-1.jpg);
}
.webp .section-1 {
    background-image: url(../img/full-img-1.webp);
}
.section-1 {
    position: relative;
    height: px-rem(1000px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            height: px-rem(800px);
    }
    // 4k
    @media screen and (min-width: px-rem(2000px)) {
        background-size: auto;
        background-color: #f9f8fb;
    }
    @media screen and (max-width: px-rem(1024px)) {
        height: px-rem(800px);
    }
    @media screen and (max-width: px-rem(700px)) {
        height: px-rem(672px);
    }
    @media screen and (max-width: px-rem(500px)) {
        padding: 0 3%;
    }
    @media screen and (max-width: px-rem(400px)) {
        background-position-x: px-rem(-368px);
        background-position-y: px-rem(190px);
        background-color: #f9f8fb;
    }
    @media screen and (max-width: px-rem(350px)) {
        background-position-x: px-rem(-438px);
    }
    @media screen and (max-width: px-rem(250px)) {
        background-position-x: px-rem(-478px);
    }
}
.section-1-WRAP {
    width: 100%;
    max-width: px-rem(2000px);
}
.header {
    width: auto;
    height: px-rem(145px);
    padding: 3.125rem 11%;

    @media screen and (max-width: px-rem(500px)) {
        padding: 3.125rem 8%;
    }
}
.header-logo {
    float: left;
    user-select: none;
}
.logo {
    width: px-rem(127px);
    height: px-rem(52px);

    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(95px);
        height: auto;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(83px);
    }
}
.menu {
    float: right;
    padding: 0;
    width: 50%;
    height: px-rem(30px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    user-select: none;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            display: none;
    }
    // @media screen and (orientation: landscape) and (max-width: px-rem(1190px)) {
    //     display: none;
    // }
    @media screen and (max-width: px-rem(1024px)) {
        display: none;
    }
}
.menu li {
    margin-left: px-rem(35px);
    height: px-rem(20px);
}
.menu li:hover {
    position: relative;
    padding-top: px-rem(9px);
    bottom: px-rem(12px);
    height: px-rem(32px);
    border-top: #ff6033 solid px-rem(3px);
}
.adaptive-menu {
    visibility: hidden;
    z-index: 100;
    position: fixed;
    padding: 5.5% 5.5% 15%;
    top: px-rem(-24px);
    left: 0;
    right: 0;
    height: 105vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    background-color: #ff6033;
    box-shadow: -6px -1px 10px 0px rgb(0 0 0 / 40%);
    transform: translateX(360%);
    opacity: 0%;
    transition: all 0.65s linear;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            visibility: visible;
            padding: 5.5% 3.7% 8.5%;
    }
    @media screen and (min-resolution: 150dpi) and (orientation: portrait) and 
        (min-height: px-rem(1130px)) {
            visibility: visible;
            padding: 5.5% 3.5% 12%;
    }
    @media screen and 
        (max-width: px-rem(1024px)) {
            visibility: visible;
            // padding: 5.5% 5.6% 7%;
    }
    // @media screen and 
    //     (max-height: px-rem(550px)) {
    //         // padding: 20% 5.5%;
    //         justify-content: flex-end;
    // }
    // @media screen and (orientation: portrait) and 
    //     (max-height: px-rem(950px)) {
    //         padding: 5.5% 9% 14%;
    // }
    // 
    // Portrait
    // max-height
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(1070px)) { 
            padding: 15% 3.5% 7%;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(700px)) {
            padding: 15% 8.5% 19%;
    }
    
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(500px)) {
            padding: 20% 7% 11%;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(450px)) {
            padding: 20% 7% 4%;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(350px)) {
            padding: 20% 12% 7%;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(300px)) {
            padding: 7% 12% 7%;
            justify-content: space-around;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(250px)) {
            padding: 4% 12% 3%;
    }  
    // 
    // Portrait
    // max-width
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(900px)) {
            padding: 15% 3.5% 11%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(600px)) {
            padding: 15% 4.5% 11%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(550px)) {
            padding: 15% 5.5% 12%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(500px)) {
            padding: 15% 5.5% 14%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(400px)) {
            padding: 15% 8.5% 15%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(400px)) and 
        (min-height: px-rem(700px)){
            padding: 15% 8.5% 19%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(300px)) {
            padding: 15% 9% 15%;
    }
    // 
    // Landscape
    // max-height
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(1023px)) {
            padding: 2% 3.5% 5%;
            justify-content: flex-end;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(800px)) {
            padding: 2% 3.5% 4%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(700px)) {
            padding: 2% 3.5% 3.5%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(600px)) {
            padding: 2% 3.5% 2.5%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(500px)) {
            padding: 2% 3.5% 2%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(450px)) {
            padding: 2% 3.5% 2%;
    }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(400px)) {
    //         padding: 15% 4% 3%;
    // }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(370px)) {
            padding: 1% 3.5% 1%;
            justify-content: space-around;
    }
    // 
    // Portrait
    // min-width + max-height
    @media screen and (orientation: portrait) and 
        (min-width: px-rem(300px)) and
        (max-height: px-rem(330px)) {
            padding: 4% 9% 4%;
            justify-content: space-around;
    }
    // 
    // Portrait
    // max-width + max-height
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(300px)) and 
        (max-height: px-rem(400px)) {
            padding: 15% 9% 7%;
    } 
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(300px)) and 
        (max-height: px-rem(330px)) {
            padding: 4% 9% 4%;
            justify-content: space-around;
    } 
    
    // 
    // Landscape
    // max-width + min-height
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(3070px)) and 
        (min-height: px-rem(1071px)) {
            padding: 2% 3.5% 2%;
            justify-content: flex-end;
    } 
}
.decorate-border-Left {
    z-index: 100;
    position: absolute;
    width: px-rem(2px);
    height: 92%;
    top: 6%;
    left: 10%;
    background-color: #fff;
    transform: translate(0,120%);
}
.adaptive-menu.active .decorate-border-Left {
    transform: translate(0, 0);
    transition: all 1.5s ease-out;
}
.decorate-border-Top {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: px-rem(2px);
    top: 8%;
    left: 6%;
    background-color: #fff;
    transform: translate(120%,0);
}
.adaptive-menu.active .decorate-border-Top {
    transform: translate(0, 0);
    transition: all 1.9s ease-out;
}
.adaptive-menu.active {
    opacity: 96%;
    transform: translateX(150%);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            width: 35%;
            transform: translateX(189%);
    }
    // @media screen and (max-width: px-rem(700px)) {
    //     width: 35%;
    //     transform: translateX(190%);
    // }
    // 
    // Portrait
    // max-width
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(550px)) {
            width: 48%;
            transform: translateX(110%);
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(400px)) {
            width: 65%;
            transform: translateX(57%);
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(350px)) {
            transform: translateX(57%);
            width: 65%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(251px)) {
            width: 85%;
            transform: translateX(19%);
    }
    // @media screen and (orientation: portrait) and 
    //     (max-width: px-rem(280px)) {
    //         width: 95%;
    //         transform: translateX(7%);
    // }
    // 
    // Landscape
    // max-height
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(450px)) {
            transform: translateX(260%);
            width: 28%;
    }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(400px)) {
    //         transform: translateX(195%);
    //         width: 34%;
    // }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(350px)) {
    //         transform: translateX(146%);
    //         width: 41%;
    // }
    // 
    // Landscape
    // max-width
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(1000px)) {
            transform: translateX(236%);
            width: 30%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(800px)) {
            transform: translateX(225%);
            width: 31%;
    }
    // @media screen and (orientation: landscape) and 
    //     (max-width: px-rem(750px)) {
    //         transform: translateX(247%);
    //         width: 29%;
    // }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(700px)) {
            transform: translateX(197%);
            width: 34%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(550px)) {
            transform: translateX(146%);
            width: 41%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(450px)) {
            transform: translateX(128%);
            width: 44%;
    }
    @media screen and (orientation: landscape) and
        (max-width: px-rem(350px)) {
            transform: translateX(108%);
            width: 48.5%;
    }
    @media screen and (orientation: landscape) and
        (max-width: px-rem(300px)) {
            transform: translateX(61%);
            width: 62.5%;
    }
    @media screen and (orientation: landscape) and
        (max-width: px-rem(250px)) {
            transform: translateX(33%);
            width: 75.5%;
    }
}
.menu a,
.adaptive-menu a {
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(16px);
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    -webkit-tap-highlight-color: transparent;
}
.adaptive-menu a {
    color: #fff;
    font-size: px-rem(26px);
    line-height: 1.9077;
    text-transform: capitalize;

    // @media screen and (max-width: px-rem(330px)) and 
    //     (max-height: px-rem(550px)) {
    //         line-height: 1.1538; //30px
    // }
    // @media screen and 
    //     (max-height: px-rem(550px)) {
    //         line-height: 0.0077; // 0.2px
    // }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(450px)) {
            font-size: px-rem(24px);
            line-height: 1.666;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(350px)) {
            font-size: px-rem(21.5px);
            line-height: 1.666;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(250px)) {
            font-size: px-rem(20px);
            line-height: 1.25;
    }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(500px)) {
    //         font-size: 20.5px;
    //         line-height: 1.4634;
    // }    
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(450px)) {
            font-size: px-rem(23.5px);
            line-height: 1.6596;
    }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(400px)) {
    //         font-size: px-rem(23.5px);
    //         line-height: 1.6596;
    // }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(350px)) {
            font-size: px-rem(23.5px);
            line-height: 1.8298;
    }
    // @media screen and (orientation: portrait) and 
    //     (max-width: px-rem(250px)) {
    //         font-size: px-rem(20.5px);
    //         line-height: 2.0976;
    // }
    @media screen and (orientation: landscape) and
        (max-height: px-rem(250px)) {
            font-size: px-rem(20.5px);
            line-height: 1.4634;
    }
    @media screen and 
        (max-height: px-rem(300px)) {
            font-size: px-rem(20.5px);
    }
    // @media screen and 
    //     (max-height: px-rem(250px)) {
    //         font-size: px-rem(17.5px);
    //         line-height: 1.2077;
    // }
}
.adaptive-menu a:active {
    background-color: cornsilk;
    color: #000;
}
.button-burger-menu {
    z-index: 100;
    display: none;
    position: fixed;
    width: px-rem(42px);
    height: px-rem(42px);
    right: 11%;
    top: px-rem(50px);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
    overflow: hidden;
    background: rgb(255, 96, 51, 0.7);
    transition: all 0.5s;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            display: block;
            right: 9%;
            top: 6.5%;
    }
    @media screen and 
        (max-width: px-rem(1024px)) {
            display: block;
            right: 9%;
    }
    @media screen and 
        (max-width: px-rem(350px)) {
            top: 2%;
            right: 6%;
            width: px-rem(35px);
            height: px-rem(35px);
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(400px)) {
            top: 7%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(250px)) {
            right: 5%;
    }
}
.button-burger-menu.active {
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            right: 2.5%;
    }
    @media screen and 
        (max-width: px-rem(1024px)) {
            top: 4.5%;
            right: 3.5%;
    }
    // 
    // Portrait
    // max-height
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(950px)) {
            top: 4.5%;
            right: 3.5%;
    }
    // @media screen and (orientation: portrait) and 
    //     (max-height: px-rem(600px)) {
    //         right: 3.5%;
    // }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(500px)) {
            right: 6.5%;
    }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(300px)) {
            right: 65%;
    }
    // 
    // Portrait
    // max-width
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(600px)) {
            right: 4.5%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(400px)) {
            right: 6.5%;
    }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(300px)) {
            right: 7.5%;
    }
    // @media screen and (orientation: portrait) and 
    //     (max-width: px-rem(280px)) {
    //         right: 76%;
    // }
    @media screen and (orientation: portrait) and 
        (max-width: px-rem(251px)) {
            right: 65%;
    }

    // 
    // Landscape
    // max-height
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(450px)) {
            top: 3.7%;
            right: 2.6%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(400px)) {
            top: 4%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(370px)) {
            right: 21%;
            top: 5%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(250px)) {
            top: 3%;
    }
    // 
    // Landscape
    // max-width
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(550px)) {
            right: 29%;
            top: 4.5%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(350px)) {
            right: 34%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(300px)) {
            right: 47%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(250px)) {
            right: 57%;
    }
    
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(250px)) and 
    //     (max-width: px-rem(600px)) {
    //         right: 20%;
    // }
    // @media screen and (orientation: landscape) and 
    //     (max-height: px-rem(250px)) and 
    //     (max-width: px-rem(350px)) {
    //         right: 25%;
    // }
    // @media screen and 
    //     (max-height: px-rem(500px)) {
    //         top: 6%;
    // }
    // @media screen and (max-width: px-rem(330px)) and (max-height: px-rem(550px)) {
    //     right: 38%;
    // }
    @media screen and (orientation: portrait) and 
        (max-height: px-rem(330px)) and
        (min-width: px-rem(251px)) {
            right: 48%;
    }
}
.button-burger-menu span {
    position: absolute;
    width: px-rem(30px);
    height: px-rem(2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.5s;
}
.button-burger-menu span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.button-burger-menu span:nth-of-type(3) {
    top: calc(50% + 5px);
}
//  menu open
.button-burger-menu.active span:nth-of-type(1) {
    opacity: 10%;
    transform: translate(-200%);
}
.button-burger-menu.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.button-burger-menu.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}
//
//  section-1
//
.section-1--content {
    position: relative;
    left: 11%;
    top: px-rem(200px);
    width: px-rem(370px);
    height: px-rem(257px);
    // background-color: darkgray;

    @media screen and (max-width: px-rem(700px)) {
        top: px-rem(120px);
    }
    @media screen and (max-width: px-rem(500px)) {
        left: 8%;
        width: 90%;
    }
    @media screen and (max-width: px-rem(400px)) {
        top: px-rem(72px);
    }
    @media screen and (max-width: px-rem(350px)) {
        top: px-rem(56px);
    }
    // @media screen and (max-width: px-rem(450px)) {
    //     width: px-rem(270px);
    // }
}
.section-1--title {
    width: max-content;
    margin: 0 0 px-rem(20px);
    font-family: "Raleway-Heavy", sans-serif;
    font-size: px-rem(60px);
    font-weight: 900;
    word-break: break-word;
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(600px)) {
        font-size: px-rem(50px);
    }
    @media screen and (max-width: px-rem(350px)) {
        font-size: px-rem(40px);
    }
    @media screen and (max-width: px-rem(300px)) {
        max-width: px-rem(170px);
        font-size: px-rem(35px);
    }
    @media screen and (max-width: px-rem(250px)) {
        max-height: px-rem(50px);
        font-size: px-rem(30px);
    }
}
.translated-ltr .section-1--title {
    @media screen and (max-width: px-rem(500px)) {
        position: relative;
        top: px-rem(-50px);
        width: 100%;
    }
    @media screen and (max-width: px-rem(300px)) {
        max-width: none;
    }
    @media screen and (max-width: px-rem(250px)) {
        max-height: none;
    }
}
.section-1--text {
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882; //27px
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(700px)) {
        width: 80%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: 65%;
    }
    @media screen and (max-width: px-rem(400px)) {
        width: 80%;
    }
    @media screen and (max-width: px-rem(350px)) {
        width: 90%;
        font-size: px-rem(16px);
    }
    @media screen and (max-width: px-rem(300px)) {
        // width: 75%;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: 100%;
    }
    // @media screen and (max-width: px-rem(450px)) {
    //     width: px-rem(270px);
    // }
}
.translated-ltr .section-1--text {
    @media screen and (max-width: px-rem(700px)) {
        width: 85%;
    }
    @media screen and (max-width: px-rem(700px)) {
        width: 75%;
    }
    @media screen and (max-width: px-rem(500px)) {
        position: relative;
        top: px-rem(-50px);
        width: 65%;
    }
    @media screen and (max-width: px-rem(400px)) {
        width: 85%;
    }
}
.section-1--button {
    margin-top: px-rem(20px);
    width: max-content;
    min-width: px-rem(200px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background-color: #ff6033;
    border: solid 1px #ff6033;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: 0.7s ease;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: px-rem(400px)) {
        width: fit-content;
    }
    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(168px);
        height: px-rem(47px);
        font-size: px-rem(17px);
    }
    @media screen and (max-width: px-rem(250px)) {
        min-width: px-rem(170px);
        width: px-rem(152px);
        height: px-rem(39px);
        font-size: px-rem(15px);
    }
}
.translated-ltr .section-1--button {
    @media screen and (max-width: px-rem(500px)) {
        position: relative;
        top: px-rem(-50px);
        width: fit-content;
    }
    // @media screen and (max-width: px-rem(300px)) {
    //     height: max-content;
    // }
}
.section-1--button:active,
.section-1--button:focus {
    outline: none;
}
.section-1--button:hover {
    // font-size: px-rem(21px);
    font-weight: 900;
    color: #000;
    background-color: #fd8766;
    border: solid 1px #fd8766;
    transition: all 0.7s;
}
.button-UP {
    z-index: 50;
    position: fixed;
    right: px-rem(30px); //13%
    bottom: 48.5%; //40px, 300px
    width: px-rem(30px);
    height: px-rem(30px);
    padding-left: 7px;
    font-size: px-rem(40px);
    border-radius: 50%;
    border: 1px solid #000;
    background-color: rgb(0 0 0 / 57%);
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 65%);
    cursor: pointer;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            bottom: 6.5%;
            right: 9.5%;
    }
    @media screen and (orientation: landscape) and 
        (max-width: px-rem(1190px)) {
            right: 9.8%;
            bottom: px-rem(50px);
    }
    @media screen and 
        (max-width: px-rem(1024px)) {
            right: 9.8%;
            bottom: px-rem(50px);
    }
    @media screen and 
        (max-width: px-rem(500px)) {
            bottom: px-rem(40px);
    }
    @media screen and 
        (max-width: px-rem(350px)) {
            bottom: 4%;
            right: 7%;
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(400px)) {
            right: 10%;
            bottom: 7%;  //px-rem(40px)
    }
    @media screen and (orientation: landscape) and 
        (max-height: px-rem(250px)) {
            right: 6%;
            bottom: 5%;  
    }
}
.button-UP.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s, visibility 0.3s, transform 0.6s;
}
.button-UP.active:hover {
    transform: scale(1.25);
    transition: transform 0.4s;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            transform: scale(1);
    }
    @media screen and (max-width: px-rem(1024px)) {
        transform: scale(1);
    }
}
.button-UP.off,
.button-UP.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.icon-up {
    position: absolute;
    right: -3px;
    bottom: -6px;
    color: #fff;
}
.icon-mouse {
    position: absolute;
    left: 49%;
    top: px-rem(890px);
    user-select: none;
    cursor: pointer;

    //  hi-res tablet
    @media screen and (min-resolution: 150dpi) and (orientation: landscape) and 
        (min-width: px-rem(1130px)) {
            visibility: hidden;
    }
    @media screen and (max-width: px-rem(1024px)) {
        visibility: hidden;
    }
}
