.section-4 {
    height: px-rem(1536px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe92f;

    @media screen and (max-width: px-rem(500px)) {
        height: px-rem(1550px);
    }
}
.section-4--content {
    position: relative;
    top: px-rem(100px);
    width: px-rem(600px);
    margin: 0 auto;

    @media screen and (max-width: px-rem(700px)) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.section-4--title {
    margin: 0;
    font-family: Raleway-Bold, sans-serif;
    font-size: px-rem(90px);
    color: #262626;
    text-align: center;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(450px)) {
        font-size: px-rem(70px);
    }
}
.section-4--text {
    width: px-rem(590px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.5882;
    text-align: center;
    color: #262626;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(700px)) {
        width: 85%;
    }
}
.gallery {
    position: relative;
    top: px-rem(145px);
    width: 78%;
    height: px-rem(990px);
    background-color: #dbffff;
}
.gallery-img {
    position: relative;
    display: inline-block;
}
#gal-img-1 {
    width: 65.8%;
}
#gal-img-2 {
    width: 31.6%;
}
#gal-img-3 {
    width: 31.6%;
}
#gal-img-4 {
    width: 48.7%;
}
#gal-img-5 {
    width: 48.7%;
}
.section-4--button {
    position: relative;
    top: px-rem(196px);
    width: px-rem(200px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background-color: #5585a2;
    border: solid 1px #5585a2;
    cursor: pointer;
    user-select: none;
    transition: 0.7s ease;
    -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.section-4--button:active,
.section-4--button:focus {
    outline: none;
}
.section-4--button:hover {
    // font-size: 21px;
    font-weight: 900;
    color: #000;
    background-color: #7abde7;
    border: solid 1px #7abde7;
    transition: all 0.7s;
}
