.section-6 {
    height: px-rem(860px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #b07cf7;

    @media screen and (max-width: px-rem(1000px)) {
        height: px-rem(1200px);
    }
    @media screen and (max-width: px-rem(800px)) {
        height: px-rem(1245px);
    }
    @media screen and (max-width: px-rem(600px)) {
        height: px-rem(1565px);
    }
    @media screen and (max-width: px-rem(250px)) {
        height: px-rem(1585px);
    }
}
.section-6--title {
    margin-top: px-rem(-90px);
    margin-bottom: px-rem(20px);
    font-family: "Raleway-Bold", sans-serif;
    font-size: px-rem(90px);
    color: #fff;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(550px)) {
        font-size: px-rem(80px);
    }
    @media screen and (max-width: px-rem(450px)) {
        font-size: px-rem(70px);
    }
    @media screen and (max-width: px-rem(350px)) {
        font-size: px-rem(60px);
    }
    @media screen and (max-width: px-rem(300px)) {
        font-size: px-rem(50px);
    }
    @media screen and (max-width: px-rem(250px)) {
        position: relative;
        top: px-rem(20px);
        font-size: px-rem(45px);
    }
}

.section-6--text {
    width: px-rem(570px);
    margin-bottom: px-rem(40px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(17px);
    line-height: 1.4706;
    text-align: center;
    color: #fff;
    cursor: default;
    user-select: none;

    @media screen and (max-width: px-rem(800px)) {
        width: px-rem(530px);
        margin-bottom: px-rem(60px);
    }
    @media screen and (max-width: px-rem(550px)) {
        width: px-rem(380px);
    }
    @media screen and (max-width: px-rem(450px)) {
        width: 85%;
    }
    @media screen and (max-width: px-rem(250px)) {
        max-height: px-rem(275px);
        width: 85%;
    }
}

.section-6--wrapper-for-cards {
    width: px-rem(1170px);
    height: px-rem(310px);
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: px-rem(1250px)) {
        width: 92%;
    }
    @media screen and (max-width: px-rem(1000px)) {
        width: px-rem(780px);
        height: px-rem(680px);
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    @media screen and (max-width: px-rem(800px)) {
        width: 100%;
        height: px-rem(700px);
    }
    @media screen and (max-width: px-rem(600px)) {
        height: px-rem(1020px);
    }
    @media screen and (max-width: px-rem(250px)) {
        position: relative;
        top: px-rem(10px);
    }
}
.card {
    padding: px-rem(20px);
    width: px-rem(370px);
    height: px-rem(310px);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 3px 10px -1px rgba(83, 83, 83, 0.6);
    transition: box-shadow 0.5s, transform 0.5s;

    @media screen and (max-width: px-rem(1250px)) {
        width: 31.4%;
    }
    @media screen and (max-width: px-rem(1000px)) {
        width: 45%;
    }
    @media screen and (max-width: px-rem(600px)) {
        width: px-rem(370px);
    }
    @media screen and (max-width: px-rem(400px)) {
        width: px-rem(320px);
    }
    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(260px);
    }
    @media screen and (max-width: px-rem(300px)) {
        width: px-rem(220px);
        background-position: center;
    }
    @media screen and (max-width: px-rem(250px)) {
        width: px-rem(180px);
    }
}
.card:hover {
    transform: scale(1.04);
    box-shadow: 0px 3px 12px 3px rgba(83, 83, 83, 0.6);
    transition: box-shadow 0.5s, transform 0.5s;

    // Отключаем ховеры для мобайл
    @media screen and (max-width: px-rem(1000px)) {
        transform: scale(1);
        box-shadow: 0px 3px 10px -1px rgba(83, 83, 83, 0.6);
    }
}
.card:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 90%) 0%,
        rgb(0 0 0 / 0%) 40%
    );
}
// #card-1
// 
.no-webp #card-1 {
    background-image: url(../img/section-6-img1.jpg);
}
.webp #card-1 {
    background-image: url(../img/section-6-img1.webp);
}
// #card-2
// 
.no-webp #card-2 {
    background-image: url(../img/section-6-img2.jpg);
}
.webp #card-2 {
    background-image: url(../img/section-6-img2.webp);
}
// #card-3
// 
.no-webp #card-3 {
    background-image: url(../img/section-6-img3.jpg);
}
.webp #card-3 {
    background-image: url(../img/section-6-img3.webp);
}

.card-wrap-date {
    position: relative;
    top: px-rem(10px);
    left: px-rem(10px);
    width: px-rem(60px);
    height: px-rem(60px);
    text-align: center;
    background-color: #90908e;
    border-radius: px-rem(8px);
    user-select: none;

    @media screen and (max-width: px-rem(250px)) {
        top: 0;
        left: 0;
        width: px-rem(52px);
        height: px-rem(52px);
    }
}

.card-date {
    margin: 0;
    font-family: "Raleway-Bold", sans-serif;
    font-size: px-rem(32px);
    line-height: 0.875;
    text-transform: uppercase;
    color: #fff;

    @media screen and (max-width: px-rem(250px)) {
        font-size: px-rem(27px);
    }
}

.card-date-month {
    display: block;
    position: relative;
    top: px-rem(8px);
    left: px-rem(1px);
    max-width: px-rem(58px);
    max-height: px-rem(18px);
    overflow: hidden;
    font-family: "Raleway-Heavy", sans-serif;
    font-size: px-rem(21px);

    @media screen and (max-width: px-rem(250px)) {
        font-size: px-rem(19.5px);
    }
}

.card-title {
    position: relative;
    top: px-rem(107px);
    // left: px-rem(20px);
    // width: px-rem(330px);
    height: px-rem(50px);
    font-family: "Raleway-Bold", sans-serif;
    font-size: px-rem(20px);
    line-height: 1.25;
    color: #fff;
    user-select: none;
    overflow: hidden;

    @media screen and (max-width: px-rem(1250px)) {
        // width: 89%;
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(115px);
        width: px-rem(160px);
        height: px-rem(58px);
        font-size: px-rem(15px);
    }
}
.card-author {
    position: relative;
    top: px-rem(102px);
    // left: px-rem(20px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(13px);
    color: #fff;
    user-select: none;

    @media screen and (max-width: px-rem(550px)) {
        // width: px-rem(250px);
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(105px);
        font-size: px-rem(11.5px);
    }
}

.section-6--button {
    position: relative;
    top: px-rem(50px);
    width: px-rem(200px);
    height: px-rem(55px);
    font-family: "Raleway-Light", sans-serif;
    font-size: px-rem(20px);
    color: #fff;
    background-color: #f72b3b;
    border: solid 1px #f72b3b;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: 0.7s ease;
    box-shadow: 0px 3px 8px -1px rgba(83, 83, 83, 1);

    @media screen and (max-width: px-rem(350px)) {
        width: px-rem(168px);
        height: px-rem(47px);
        font-size: px-rem(17px);
    }
    @media screen and (max-width: px-rem(250px)) {
        top: px-rem(32px);
        width: px-rem(152px);
        height: px-rem(39px);
        font-size: px-rem(15px);
    }
}
.section-6--button:active,
.section-6--button:focus {
    outline: none;
}
.section-6--button:hover {
    // font-size: 21px;
    font-weight: 900;
    color: #000;
    background-color: #fc818c;
    border: solid 1px #fc818c;
    transition: all 0.7s;
}
